{:paths   ["src" "resources"]
 :deps    {org.clojure/clojure      {:mvn/version "1.11.1"}
           missionary/missionary    {:mvn/version "b.28"}
           com.hyperfiddle/rcf      {:git/url "https://github.com/hyperfiddle/rcf.git"
                                     :git/sha "2d1ef6fac0c980d79a3ebf39c31a7c0226391211"}
           datascript/datascript    {:mvn/version "1.3.14"}
           com.datomic/peer {:mvn/version "1.0.6735"}
           com.hyperfiddle/electric {:mvn/version "v2-alpha-422-g96e5c0a5"}}
 :aliases {:dev       {:extra-paths ["test"]
                       :extra-deps  {thheller/shadow-cljs {:mvn/version "2.22.10"}}}
           :test-jvm  {:extra-paths ["test"]
                       :extra-deps  {io.github.cognitect-labs/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                                           :sha     "cc75980b43011773162b485f46f939dc5fba91e4"}}
                       :jvm-opts    ["-Dhyperfiddle.rcf.generate-tests=true"
                                     "-XX:-OmitStackTraceInFastThrow"] ;; https://archive.md/NNt9r
                       :exec-fn     cognitect.test-runner.api/test
                       :exec-args   {:patterns ["hyperfiddle.hfql-tests"]}}
           :test-cljs {:extra-paths ["test"]
                       :extra-deps  {thheller/shadow-cljs {:mvn/version "2.22.10"}}
                       :jvm-opts    ["-Dhyperfiddle.rcf.generate-tests=true" "-Xss2m"]
                       :main-opts   ["-m" "shadow.cljs.devtools.cli"]}
           :build {:extra-paths ["src-docs"]
                   :main-opts   ["-m" "shadow.cljs.devtools.cli"]
                   :jvm-opts    ["-Xss2m"]
                   :extra-deps  {thheller/shadow-cljs {:mvn/version "2.22.10"}}}
           :demo {:extra-paths ["src-docs"]
                  :extra-deps {info.sunng/ring-jetty9-adapter
                               {;:mvn/version "0.14.3" ; (Jetty 9) is Java 8 compatible;
                                :mvn/version "0.17.7" ; (Jetty 10) is NOT Java 8 compatible
                                :exclusions  [org.slf4j/slf4j-api info.sunng/ring-jetty9-adapter-http3]}
                               ring-basic-authentication/ring-basic-authentication {:mvn/version "1.1.1"}
                               org.clojure/tools.logging {:mvn/version "1.2.4"}
                               ch.qos.logback/logback-classic {:mvn/version "1.2.11"}}
                  :exec-fn user/main}}}
