{:paths   ["src"]
 :deps    {org.clojure/clojure      {:mvn/version "1.11.1"}
           missionary/missionary    {:mvn/version "b.28"}
           com.hyperfiddle/rcf      {:mvn/version "20220926-202227"}
           datascript/datascript    {:mvn/version "1.3.14"}
           com.hyperfiddle/electric {:git/url        "https://github.com/hyperfiddle/electric.git"
                                     :git/sha        "a6cbc88b22f2953da2c9a75f178576fb1abf893a"}}
 :aliases {:test {:extra-paths ["test"]}
           :dev {:override-deps {com.hypefiddle/electric {:local/root "../electric"}}}}}
